@CHARSET "UTF-8";

/* -----------------------------------------------------  */

/* 공통 설정  : html, body, table은 여백없음 */
html,body,table{ margin: 0px; pading:0px; !important} 

/* -----------------------------------------------------  */

/* 메인 페이지 */
#main_body{ overflow-x: hidden; overflow-y: atuo; }


/* 메인 페이지 : 상단 메뉴 영역 */
#main_topmenu_table { 
	position: fixed; width:100%; height:2vh; 
	text-align: center; background-color:rgba(0,0,0,0.7);  z-index:1; }	
		 
#main_topmenu_table td {  
	margin: 0px; pading:0px; width:20%; font-size:12px; 
	color: #D5D5D5; cursor: pointer; transition: 0.4s ease-out;
	transition-property: fomt-size, font-weight;   }
	
#main_topmenu_table td:HOVER {  
	margin: 0px; pading:0px; width:20%; font-size: 15px; 
	font-weight:900; color:white; background-color: rgba(0,0,0,3);  }


/* 메인 페이지 : 스크린 영역 */
#main_screen { position: absolute; top: 0px; left: 0px; width: 300%; height: 100% }
.main_screen_content { margin: 0px; pading:0px; width: 100vw; height: 100%; float:left; }
.main_screen_content:nth-child(1) {  margin: 0px; pading:0px; background-color: #85E4C4; }
.main_screen_content:nth-child(2) {  margin: 0px; pading:0px; background-color: #5CC0C6; }
.main_screen_content:nth-child(3) {  margin: 0px; pading:0px; background-color: #EDC7E8; }


/* 메인 페이지 : 팝업 기능 */

.popup { 
	width:100%; height: 100%; display: none; position:fixed;
	top:0px; left:0px; 	background:	rgba(0,0,0,0.5); z-index: 10; }
#popup_in { 
	max-width: 700px; width:90%;  padding:40px; position: absolute;
	top:50%; left:50%; border-radius: 5px; background: #fff; 
	transform: translate(-50% -50% ); z-index: 10;  }

#popup_out_text { 
	color:black; font-size: 20px; font-weight: blod;
	text-align: center; line-height: 100%; cursor: pointer; }

#popup_out_text:hover { 
	color: #fe2323; font-size: 25px; 
	cursor: pointer; font-weight: bold; }
	
#popup_out_button { 
	color:#fff; font-size: 25px; font-weight: bold; 
	text-align: center; line-height: 100%; width: 50px; widows: 50px;
	padding-top:5px; position: absolute; top:8px; right: 8px;
	border-radius: 100%; transform: translate(50%,-50%); 
	background: rgba(0,0,0,,0.8); transition:ease 0.25s all;  }
	
	
#popup_out_button:hover { 
	font-size:45px; text-decoration: none; curser:pointer;
	transform: translate(50%,-50%) rotate(180deg); background: #fe2323;}
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	