@CHARSET "UTF-8";

<style type="text/css">
	

	#book_table {			/* 테이블  */
		padding: 0px; 		/* 여백 설정*/
		margin:0px;
		height: 50vh;		/* 너비는 화면의 설정 */
		border:0px;
		text-align: center;
	}

	#book_line1, 
	#book_line2,
	#book_line3 {				/* 썸네일 도서들 표 */
		min-width: 10vw;		/* 최소 너비는 10% */
		max-width: 30vw;		/* 최대 너비는 30% */
		height: auto;			/* 세로는 자동으로 설정 */
		
	}	
	
	#book_line_full{				/* 디스플레이 표 */
		max-width: 80vw;		/* 최대 너비는 10% */	
		height: auto;			/* 세로는 자동으로 설정 */
		padding: 20px;			/* 여백 20px 설정 */
		text-align: center;		/* 가운데 정렬  */
		
		/* transition-porperty :  */
		
		
	}
	
	#book_line_full:hover{
		
	}
 	
 	.book a img {				/* 섬네일 도서 이미지  */
		max-width: auto;			/* 너비는 화면의 12% */		
		max-height: 20vh; 			/* 높이는 화면의 15% */		
		margin: 10px;			/* 마진 10px */
		box-shadow: 			/* 그림자 설정 */
			5px 5px 10px rgba(0,0,0,0.5);
	}
 	
 	
 	#book_line_full img {
		max-width: 70vw;			/* 너비는 자동  */
		max-height: 70vh;			/* 높이는 화면의 100% */
		overflow: hidden;		/* 넘치는 부분 감추기 */
		box-shadow: 7px 13px 10px rgba(0,0,0,0.6),
				 	20px 30px 40px rgba(0,0,0,0.3),
				 	40px 50px 70px rgba(0,0,0,0.1);
	}
			
			
	#book_display{
		cursor: pointer;
	}
	
	
	.hiddencontent{
		display:none;
	}
	
	
	.showcontent{
		display:block;
	}
	
</style>